<h1>Overwhelmed? Confused?</h1>

<p>Are you feeling overwhelmed and confused shopping and cooking for someone with food allergies?</p>
<p>Are you tired of eating the same foods over and over again? Then we are here to help.</p>

<p>At FoodAllergyMum we aim to make shopping with food allergies and intolerances easy.
Our database contains foods from the major supermarkets in New Zealand so is designed specifically for kiwis living with food allergies.
Simply select the food allergens you wish to avoid, choose the product type you are looking for and instantly see what foods meet your needs.
No more hours spent at the supermarket wondering what you can eat.  We have done the hard work for you.</p>

<p>Sign up to store your allergens every time you need us.</p>