{% extends "base.html" %}

{% block title %}Food Allergy Shopping Database{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">


            <div style="margin-top:100px;">
                <div style="margin-top: 10%; margin-bottom: 15%;">
                    <h4 style="font-weight:bold; font-family:Arial,Helvetica,sans-serif;">Select a Category to Continue Searching Products</h4>
                    <select name="category_option" id="category_option">
                        <option value="Categories">Categories</option>
                        {% for x in categories %}
                        <a href="{% url 'category' x.categorySlug %}" id="">
                            <option value="{% url 'category' x.categorySlug %}">{{ x.categoryName }}</option>
                        </a>
                        {% endfor %}
                    </select>
                </div>

            <!--<div style="margin-bottom:5%;">-->
                    <!--<span>-->
                        <!--<h4 style="font-weight:bold; font-family:Arial,Helvetica,sans-serif;">Search foods by Brand Name or Product Name </h3>-->
                    <!--</span>-->
                <!--<form method="get" action="/search/" id="search_form">-->
                    <!--<input type="hidden" id="allergies_values" name="allergies_values" value="">-->
                    <!--<select name="search_option">-->
                        <!--<option value="category">Brand</option>-->
                        <!--<option value="product">Product</option>-->
                    <!--</select>-->
                    <!--{% csrf_token %}-->
                    <!--<input style="width:80%" type="text" id="search_value" name="search_value"-->
                           <!--placeholder="Search foods by brand or product name">-->
                    <!--<input type="button" id="search" name="search" value="search">-->
                <!--</form>-->
            <!--</div>-->
            </div>
        </div>
        <div class="col-md-5">

            <h2>Favourite Products</h2>
            <p>
                Always check the product packaging or contact the manufacturer for the latest product information
            </p>
            {% if products %}
            {% if request.session.username %}

            {% for p in products %}
            <div class="panel {% if p.ok %}panel-success{% elif p.ok is False %}panel-danger{% else %}panel-info{% endif %}">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        {{ p.productBrand }} {{ p.productName }} {{ p.productFlavour }}
                    </div>
                    <div class="panel-title pull-right">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            {% if request.session.username %}
                            <form method="post" id="form" action="">
                                {% csrf_token %}
                                <input type="hidden" id="product_id" name="product_id" value={{ p.productId }}>
                                <input type="hidden" id="product_name" name="product_name" value={{ p.productName }}>
                                {% if p.productId in favourites %}
                                <button id="remove_favorite"
                                        name="remove_favorite" style="margin-left:38%;width: 62%;" type="button"
                                        class="remove_favorite">UnFavourite
                                </button>
                                {% else %}
                                <button id="favorite"
                                        name="favorite" style="margin-left:38%;width: 62%;" type="button"
                                        class="favorite">Favourite
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            {% endif %}
                            {% if p.productAllergies.all %}
                            Contains:
                            <ul>
                                {% for x in p.productAllergies.all %}
                                <li>{{ x.allergyName }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </div>
                        {% if p.productImage %}
                        <div class="media-right"><img class="media-object" data-src="" alt="" style="height: 120px;"
                                                      src="/media/{{ p.productImage }}" data-holder-rendered="true">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
            {% else %}
            <h3 style="margin-top:15%;"> There are no Favourite products.</h3>
            {% endif %}
        </div>
    </div>
</div>
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>info@allergywell.co.nz</h1>
        </div>
        <div class="col">
            <h1>© 2018 by Allergy Well Ltd</h1>
        </div>
        <div class="col social">
            <ul>
                <li>
                    <a id="facebook" href="https://www.facebook.com/allergywellNZ/">
                        <img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lisa-hassan-15b611a0/">
                        <img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp">
                    </a>
                    <a id="twitter" href="https://twitter.com/AllergyWell">
                        <img src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                    </a>
                    <a id="instagram" href="https://www.instagram.com/allergywellnz/">
                        <img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock content%}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    $("#form .remove_favorite").click(function(){
        var product_id = $(this).prev().prev().val();
        var data = "csrfmiddlewaretoken={{ csrf_token }}&product_id="+product_id
        $.ajax({
        url: '/remove_favorite/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&product_id="+product_id,
        type: "POST",
        success: function(result){
            alert(result['message']);
            location.reload();
        }});
    });


</script>
<script>
    $("#search").click(function(){
        var val = $("#search_value").val();
        var check = val.length;
        if(check >= 1){
            $("#search_form").submit();
        }
        else{
            alert('please insert some value to search');
        }
    });


</script>
<script>
    var dropDownValue = document.getElementById("category_option");
    dropDownValue.onchange = function() {
      if (this.selectedIndex !== 0) {
        window.location.href = this.value;
      }
    };

</script>
{% endblock %}