{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- Custom Theme files -->
<link href="/static/css/signup_form.css" rel="stylesheet" type="text/css" media="all"/>
<!--web-fonts-->
<!--<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>-->
<!-- main -->
<div class="main" style="width:80%;">
    <!--login-profile-->

    <!--login-profile-->
    <!--signin-form-->
<h1 style="color:Black; font-family:serif; align:center;"> Reset Password Form</h1>
    <div class="agile" id="verify_email_user" style="display:block;">
        <span>
            <label style="margin-top:40px; margin-bottom:30px; font-family:serif;">Enter Your Valid Account Email to get verification email:</label><br>
            <input style="width:50%;" type="email" name="email" id="email" placeholder="Email"
                   required="">
            {%csrf_token%}
            <input type="button" value="Send Verification Code" id="send_code" name="send_code">
        </span>
    </div>
        <div id="verify_code_div" class="agile" style="display:none;">
        <span>
            <label style="margin-top:40px; margin-bottom:30px; font-family:serif;">Enter Verification Code sent on your email in 5 minutes;</label><br>
            <input style="width:50%;" type="text" name="verifictaion_code" id="verifictaion_code" placeholder="verifictaion_code"
                   required="">
            <input type="button" value="Verify Code" id="verify_code" name="verify_code">
        </span>
    </div>
    <div id="verify_code_password" class="agile" style="display:none;">
        <span>
            <label style="margin-top:40px; margin-bottom:30px; font-family:serif;">Enter Your New Password Here:</label><br>
            <input style="width:50%;" type="password" id="password" name="password" placeholder="Password" minlength="8" required="">
            <p id="pwd_error" style="color:Red; font-family:serif;"> </p>
            <input type="button" value="Update Password" id="password_update" name="password_update">
        </span>
    </div>


</div>
</div>
<div class="clear"></div>
<!--//signin-form-->
</div>
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>info@allergywell.co.nz</h1>
        </div>
        <div class="col">
            <h1>© 2018 by Allergy Well Ltd</h1>
        </div>
        <div class="col social">
            <ul>
                <li>
                    <a id="facebook" href="https://www.facebook.com/allergywellNZ/">
                        <img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lisa-hassan-15b611a0/">
                        <img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp">
                    </a>
                    <a id="twitter" href="https://twitter.com/AllergyWell">
                        <img src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                    </a>
                    <a id="instagram" href="https://www.instagram.com/allergywellnz/">
                        <img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    $("#send_code").click(function(){
        $("#verify_email_user").append("<p id='wait'>Please Wait</p>");
        var email = $("#email").val();
        $.ajax({
        url: '/verify_email/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&email="+email,
        type: "POST",
        success: function(result){
           if(result.status == 'Fail'){
            $( "#wait" ).remove();
            alert(result.message);
           }
           else{
            $( "#wait" ).remove();
            $("#verify_code_div").css("display", "block");
            $("#email").prop("readonly", true);
           }
        }});
    });
</script>
<script>
    $("#verify_code").click(function(){
        var email = $("#email").val();
        var code = $("#verifictaion_code").val();
        $.ajax({
        url: '/confirm_code/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&email="+email+"&code="+code,
        type: "POST",
        success: function(result){
           if(result.status == 'Fail'){
                alert(result.message);
           }
           else{
            $("#verify_code_password").css("display", "block");
           }
        }});
    });
     $( "#password" ).keyup(function(e) {
            var len = $("#password").val();
            if(len.length > 0 && len.length < 8){
               $("#pwd_error").css('color', 'red');
               $("#pwd_error").text("Password length is short must be greater than or equal to 8 digits");
            }
            <!--if(len.length >= 8)-->
            else if(len.length >= 8){
                $("#pwd_error").css('color', 'green');
                $("#pwd_error").text("Password is Verified");
            }
            if(len.length == 0){
                 $("#pwd_error").text(" ");
            }
        });
</script>
<script>
        $("#password_update").click(function(){
        var password = $("#password").val();
        var email = $("#email").val();
        $.ajax({
        url: '/update_forgot_password/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&password="+password+"&email="+email,
        type: "POST",
        success: function(result){
           if(result.status == 'Fail'){
                alert(result.message);
           }
           else{
            alert('Password Updated');
            window.location.href='http://127.0.0.1:8000/login_user/';
           }
        }});
    });
</script>

{% endblock %}