{% extends "base.html" %}
{% load static from staticfiles %}
<style>/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6) !important; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.2s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height: 168px;
    display:none;
}

</style>
{% block content%}
<div class="container-fluid">
    <h1 style="text-align:center;">Food Finder<br> Finding Foods Right For You
    </h1>
    <p style="text-align:center;">* Always check the product packaging or contact the manufacturer for the latest
        product
        information.</p>
    <!-- The Modal -->
    <div id="myModal" class="modal" style="background-color: rgba(0,0,0,0.6) !important;">

        <!-- Modal content -->
        <div class="modal-content" style="width: 50%; margin-top: 20%; margin-left: 25%;">
            <div class="modal-header">
                <h4 style="text-align:center;">I agree that I have read and accept the
                    <a target="_blank" rel="noopener noreferrer" href="/terms_conditions">terms & conditions</a>
                    and <a target="_blank" rel="noopener noreferrer" href="/privacy_policy">privacy policy</a></h4>
            </div>
            <div class="modal-body">
                <input type="button" style="" value="Agree" name="terms" id="terms">

            </div>
        </div>

    </div>
    <div id="cover"></div>
    <div class="row">
        <div class="col-md-4">
            <div id="alergan_filters">
                <form id="alergan_form" action="/search_allergies/" method="get">
                    {% csrf_token %}
                    <h4 style="font-weight: bold; font-family:Arial,Helvetica,sans-serif;">Select your Allergies or
                        Intolerances</h4>
                    <ul>
                        <input type="hidden" name="search_value" id="search_value_al">
                        <input type="hidden" name="search_value_id" id="search_value_id">
                        <input type="checkbox" name="Cows Milk" id="cows_milk"> Cows Milk <br>
                        <input type="checkbox" name="Egg" id="egg"> Egg <br>
                        <input type="checkbox" name="Fish" id="fish"> Fish <br>
                        <input type="checkbox" name="Gluten" id="gluten"> Gluten <br>
                        <input type="checkbox" name="Goat/Sheep Milk" id="goat/sheep"> Goat/Sheep Milk<br>
                        <input type="checkbox" name="Peanut" id="peanut"> Peanut <br>
                        <input type="checkbox" name="Sesame" id="sesame"> Sesame <br>
                        <input type="checkbox" name="Shellfish" id="shellfish"> Shellfish <br>
                        <input type="checkbox" name="Soy" id="soy"> Soy <br>
                        <input type="checkbox" name="Sulphites" id="sulphites"> Sulphites <br>
                        <input type="checkbox" name="Tree Nut" id="tree_nut"> Tree Nut <br>
                        <input type="checkbox" name="Wheat" id="wheat"> Wheat <br>
                    </ul>
                </form>
            </div>

            <div style="margin-top: 10%; margin-bottom: 15%;">
                <h4 style="font-weight:bold; font-family:Arial,Helvetica,sans-serif;">Select the Food Category you are
                    searching for</h4>
                <select name="category_option" id="category_option">
                    <option value="Categories">Categories</option>
                    {% for x in categories %}
                    <a href="{% url 'category' x.categorySlug %}" id="">
                        <option value="{% url 'category' x.categorySlug %}">{{ x.categoryName }}</option>
                    </a>
                    {% endfor %}
                </select>
            </div>
            <div style="margin-bottom:5%;">
                    <span>
                        <h4 style="font-weight:bold; font-family:Arial,Helvetica,sans-serif;">Search foods by Brand Name or Product Name </h3>
                    </span>
                <form method="get" action="/search/" id="search_form">
                    <input type="hidden" id="allergies_values" name="allergies_values" value="">
                    <select name="search_option">
                        <option value="category">Brand</option>
                        <option value="product">Product</option>
                    </select>
                    {% csrf_token %}
                    <input style="width:80%" type="text" id="search_value" name="search_value"
                           placeholder="Search foods by brand or product name">
                    <input type="button" id="search" name="search" value="search">
                </form>
            </div>
        </div>
        <!--<h3>Food Allergies</h3>-->
        <!--{% if allergies %}-->
        <!--<ul>-->
        <!--{% for a in allergies %}-->
        <!--<li>{{ a.allergyName }}</li>-->
        <!--{% endfor %}-->
        <!--</ul>-->
        <!--{% endif %}-->
        <div class="col-md-5">
            {% for p in products %}
            <div class="panel {% if p.ok %}panel-success{% elif p.ok is False %}panel-danger{% else %}panel-info{% endif %}">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        {{ p.productBrand }} {{ p.productName }} {{ p.productFlavour }}
                    </div>
                    <div class="panel-title pull-right">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            {% if request.session.username %}
                            <form method="post" id="form" action="">
                                {% csrf_token %}
                                <input type="hidden" id="product_id" name="product_id" value={{ p.productId }}>
                                <input type="hidden" id="product_name" name="product_name" value={{ p.productName }}>
                                {% if p.productId in favourites %}
                                <button id="remove_favorite"
                                        name="remove_favorite" style="margin-left:38%;width: 62%;" type="button"
                                        class="remove_favorite">UnFavourite
                                </button>
                                {% else %}
                                <button id="favorite"
                                        name="favorite" style="margin-left:38%;width: 62%;" type="button"
                                        class="favorite">Favourite
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            {% endif %}
                            {% if p.productAllergies.all %}
                            Contains:
                            <ul>
                                {% for x in p.productAllergies.all %}
                                <li>{{ x.allergyName }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </div>
                        {% if p.productImage %}
                        <div class="media-right"><img class="media-object" data-src="" alt="" style="height: 120px;"
                                                      src="/media/{{ p.productImage }}" data-holder-rendered="true">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if search_val %}
            <div class="pagination">
            <span class="step-links">
        {% if products.has_previous %}
                <h3>
            <a id="first"
               href="?page=1&search_value={{search_val}}&search_value_id={{search_value_id}}">&laquo; first</a>
            <a id="prev"
               href="?page={{ products.previous_page_number }}&search_value={{search_val}}&search_value_id={{search_value_id}}">previous</a>
                    </h3>
        {% endif %}
        <h3>
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>
    </h3>
        {% if products.has_next %}
            <h3><a id="next"
                   href="?page={{ products.next_page_number }}&search_value={{search_val}}&search_value_id={{search_value_id}}">next</a>
            <a id="last"
               href="?page={{ products.paginator.num_pages }}&search_value={{search_val}}&search_value_id={{search_value_id}}">last &raquo;</a></h3>
        {% endif %}
    </span>
            </div>
        </div>
        {% else %}
        <div class="pagination">
            <span class="step-links">
        {% if products.has_previous %}
                <h3>
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
                    </h3>
        {% endif %}
        <h3>
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>
    </h3>
        {% if products.has_next %}
            <h3><a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a></h3>
        {% endif %}
    </span>
        </div>
    </div>
    {% endif %}
    <div class="col-md-3">
        {% if request.session.username %}
        <!--<h3>Allergies for {{ request.session.username }}</h3>-->
        <!--<ul>-->
        <!--{% for x in user.profile.userAllergies.all %}-->
        <!--<li>{{ x.allergyName }}</li>-->
        <!--{% endfor %}-->
        <!--</ul>-->
        {% else %}
        <div class="panel panel-default">
            <div style="" class="panel-body">
                <p>
                    Log In or Register to add products to your favourites list so you can easily access these at a later
                    date.
                </p>
                <a class="btn btn-success btn-sm" href="/login_user" role="button">Log In</a>
                <a href="/register"> <input type="button" class="btn btn-success btn-sm" id="register" value="Register"></a>
            </div>
        </div>
        {% endif %}

    </div>
    <!--<div class="col-md-6">-->
    <!--{% if not user.is_authenticated %}-->
    <!--<div class="jumbotron">-->
    <!--Sign up to filter results by allergies.-->
    <!--<p><a class="btn btn-success btn-lg" href="/register/" role="button">Get started</a>-->

    <!--&lt;!&ndash; <a class="btn btn-primary btn-lg" href="/checks/" role="button">Lastest Checks</a></p> &ndash;&gt;-->
    <!--</div>-->
    <!--{% endif %}-->
    <!--<h1>Search Here</h1>-->
    <!--{% for e in entries %}-->
    <!--{% include "entry.html" %}-->
    <!--{% endfor %}-->

    <!--</div>-->
</div>
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>info@allergywell.co.nz</h1>
        </div>
        <div class="col">
            <h1>© 2018 by Allergy Well Ltd</h1>
        </div>
        <div class="col social">
            <ul>
                <li>
                    <a id="facebook" href="https://www.facebook.com/allergywellNZ/">
                        <img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lisa-hassan-15b611a0/">
                        <img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp">
                    </a>
                    <a id="twitter" href="https://twitter.com/AllergyWell">
                        <img src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                    </a>
                    <a id="instagram" href="https://www.instagram.com/allergywellnz/">
                        <img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock content%}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    $("#search").click(function(){
        var val = $("#search_value").val();
        var check = val.length;
        if(check >= 1){
            $("#search_form").submit();
        }
        else{
            alert('please insert some value to search');
        }
    });

</script>
<script>
    $(document).ready(function(){
    $.getJSON('https://ipapi.co/json/', function(data) {
      var ip_address = JSON.stringify(data, null, 2);
    $.ajax({
        url: '/check_ip/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&ip_adress="+ip_address,
        type: "POST",
        success: function(result){
           if (result['message'] == 'Not Found')
           {
                var modal = document.getElementById('myModal');
                modal.style.display = "block";
           }
    }});
    });
    $("#terms").click(function(){
    $.getJSON('https://ipapi.co/json/', function(data) {
      var ip_address = JSON.stringify(data, null, 2);
        $.ajax({
        url: '/verify_ip/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&ip_adress="+ip_address,
        type: "POST",
        success: function(result){
            if (result['message'] == 'IP Inserted'){
             var modal = document.getElementById('myModal');
                modal.style.display = "None";
              }
        }});
    });
    });

    if (window.location.href == 'http://127.0.0.1:8000/login_user/')
    {
        window.location.href = "http://127.0.0.1:8000/";
    }
    });
    $("#form .favorite").click(function(){
        var product_id = $(this).prev().prev().val();
        var data = "csrfmiddlewaretoken={{ csrf_token }}&product_id="+product_id
        $.ajax({
        url: '/featured/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&product_id="+product_id,
        type: "POST",
        success: function(result){
            console.log(result['message']);
            alert(result['message']);
        }});
    });


</script>
<script>
    $("#form .remove_favorite").click(function(){
        var product_id = $(this).prev().prev().val();
        var data = "csrfmiddlewaretoken={{ csrf_token }}&product_id="+product_id
        $.ajax({
        url: '/remove_favorite/',
        data: "csrfmiddlewaretoken={{ csrf_token }}&product_id="+product_id,
        type: "POST",
        success: function(result){
            alert(result['message']);
            location.reload();
        }});
    });
var i = 0;
$('input[type="checkbox"]').click(function(){
     var arr = [];
     var ids = [];
       $('input[type="checkbox"]:checked').each(function () {
           arr[i++] = $(this).attr('name');
           ids[i++] = $(this).attr('id');
       });
    $('#search_value_al').val(arr);
    $('#search_value_id').val(ids);
    $('#alergan_form').submit();
});
</script>
    <script>
    $(document).ready(function(){
    $('input:radio').val(0);
     $('#alergan_form').prepend('<input type="hidden" id="ids" name="ids" value="{{search_value_id}}" />');
     var values =$("#ids").val();
     var values = values.replace('[','');
     var values = values.replace(']','');
     var li = values.split(',');
     var i;
     var values = [];
     for (i = 0; i < li.length; i++) {
        var value = li[i].replace("u'",'');
        var value = value.replace("'",'');
        var value = value.replace(" ",'');
        values.push(value);
     }
     $('#alergan_form').prepend('<input type="hidden" id="values" name="values" value="{{search_val}}" />');
     var values_al =$("#values").val();
     var values_al = values_al.replace('[','');
     var values_al = values_al.replace(']','');
     var li_al = values_al.split(',');
     var i;
     var values_al = [];
     for (i = 0; i < li_al.length; i++) {
        var value = li_al[i].replace("u'",'');
        var value = value.replace("'",'');
        values_al.push(value);
     }
     $('#allergies_values').val(values_al);
     var $cbs = $('input:checkbox');
     $.each(values, function(){
        $cbs.filter('[id="'+this+'"]').prop('checked', true);
     });

     $('input:radio').change(function() {
       $("#register").click();
    });
    });



    </script>
<script>
    var dropDownValue = document.getElementById("category_option");
    dropDownValue.onchange = function() {
      if (this.selectedIndex !== 0) {
        window.location.href = this.value;
      }
    };

</script>
{% endblock %}