{% extends "base.html" %}
{% load static from staticfiles %}

{% block content%}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Terms and Conditions</h1>
        <p>
        Lorem ipsum dolor sit amet, eu est tantas commune, vis oporteat imperdiet ea. Mei ad idque theophrastus, timeam delectus nam at. Legere accumsan salutandi his in. Ne vitae audire detraxit pro, oratio verear disputationi cum ad, et mei unum lorem pericula. Omnis repudiandae efficiantur est ad.
</p><p>
Hinc eripuit mei at, an movet libris mel. Ius at audiam regione persius, tantas homero efficiendi ius ei, mei ancillae scribentur appellantur cu. Possit putant maiestatis cum ad, qui reque inimicus necessitatibus ei. Cum cu mucius nominati. No quas suscipiantur vim, esse tritani duo id, ea vel apeirian corrumpit. Vim at oratio accusata incorrupte, nostro offendit interesset ne quo, quo nusquam nostrum et.
</p><p>
Iriure maiestatis in sea, no exerci mediocritatem eam. Ne est purto vero interpretaris. Pro ad gubergren omittantur interpretaris, possim tritani eu qui. Ei qui autem periculis, mundi erroribus elaboraret et quo, sit cu nonumy equidem epicuri. Suscipit praesent cu eos.
</p><p>
Et solum malis assum sea, quem inermis placerat per an. Admodum contentiones his ex. Iudico alterum appetere eam an, has ne possit accusamus. Tantas causae necessitatibus in ius, mea ea tale fugit.
</p><p>
Nullam consequuntur cu quo, diam definitiones mei eu, mel ei audire eripuit senserit. At omittantur neglegentur voluptatibus vis, has at dico fugit, ut sonet lobortis urbanitas pri. Sed an timeam detraxit, ne oblique detracto pri. Ex tale offendit per, ea luptatum periculis mel, ex vero oporteat necessitatibus mea.
        </p>

      </div>
</div>

{% endblock content%}