{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Custom Theme files -->
<link href="/static/css/signup_form.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<!--<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>-->
	<!-- main -->
	<div class="main" style="width:80%;">

		<div class="agile">
            <div class="signin-form profile">
                <h1 style="color:black; font-family: sans-serif;">Log In</h1><br>
				<div class="login-form">
					<form action="/login_user/" method="post">
                        {% csrf_token %}

                        <p><h4 style="font-size:20.5px;font-weight:bold; margin-top:3%;">Username or Email</h4>
                        <input type="text" name="username" id="username or Email" placeholder="Username or Email"
                               required="">
                        <p style="font-size:14px;color:red;">
                            Note: Username and Email are case sensitive
                        </p>
                        </p>
                        <h4 style="font-size:20.5px;font-weight:bold;margin-top:3%;">
                            Password
                        </h4>
                        <input type="password" id="password" name="password" placeholder="Password" minlength="8" required="">
                        <p id="pwd_error" style="color:Red; font-family:serif;"> </p>
                        {% if error %}
                         <h2 style="font-size: 24px;font-family: sans-serif;color: red;"> {{error}} </h2>
                        {% endif %}
						<input type="submit" value="LOG IN">
					</form>
                    <br>
                    <a href="{% url "forgot_password" %}" style="font-size:22px; font-family:sens-serif;">Forgot Password</a>
				</div>

			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->
	</div>
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>info@allergywell.co.nz</h1>
        </div>
        <div class="col">
            <h1>© 2018 by Allergy Well Ltd</h1>
        </div>
        <div class="col social">
            <ul>
                <li>
                    <a id="facebook" href="https://www.facebook.com/allergywellNZ/">
                        <img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lisa-hassan-15b611a0/">
                        <img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp">
                    </a>
                    <a id="twitter" href="https://twitter.com/AllergyWell">
                        <img src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                    </a>
                    <a id="instagram" href="https://www.instagram.com/allergywellnz/">
                        <img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}