{% extends 'base.html' %}
<!--{% load crispy_forms_tags %}-->

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Custom Theme files -->
<link href="/static/css/signup_form.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
	<!-- main -->
	<div class="main" style="width:80%;">
		<!--login-profile-->

		<!--login-profile-->
		<!--signin-form-->

		<div class="agile">
            <div class="signin-form profile">
                <h1 style="color:black; font-family: sans-serif;">UPDATE PROFILE</h1><br>
                <p style="font-family:serif; font-size:20px;"> You Can Update Your Username Email or Password:</p>
				<div class="login-form">
					<form action="/update_password/" method="post">
                        {% csrf_token %}
                        <input type="password" id="password" name="password" placeholder="Password" minlength="8" required="">
                        <p id="pwd_error" style="color:Red; font-family:serif;"> </p>
						<input type="submit" value="UPDATE">
					</form>
				</div>

			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->
	</div>
{% endblock %}