{% extends "base.html" %}
{% load static from staticfiles %}
{% block content%}
<h2 style="text-align:center">
    Privacy Policy
</h2>
<p>
By using the Allergy Well websites you are agreeing to this Privacy Policy.
If you do not agree to the Policy, please do not use this site.
</p>
<p>
We collect personal information from you, including information about your:
<ul>
    <li>name</li>
    <li>contact details (e-mail, telephone number)</li>
    <li>billing information</li>
    <li>username and password</li>
    <li>your food allergies/intolerances</li>
</ul>
</p>
<p>
We collect your personal information in order to:
<ul>
    <li>enable you to receive the latest food allergy updates and product information</li>
    <li>enable you to log in to the Food Finder and save products to a favourites list</li>
    <li>be contacted by our dietitians regarding your consultation</li>
    <li>invoice you for your dietitian consultation</li>
</ul>
</p>
<p>
Information may be stored offshore. Providing some information is optional. If you choose not to enter your name, contact details, username, password, allergies or intolerances or billing information we will be unable to provide you with our full service. This includes being able to provide you with requested dietitian consultations, allowing you to search for food products and adding products to a favourite products list.
    </p>
<p>
You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at info@allergywell.co.nz.
</p>
<p>
Our websites provide links to other websites where we consider the content may be of interest to our users. We do not endorse any third party sites or their content and we have no control over the conduct of the companies or organisations operating those sites.
Before you disclose any personal information to another site, we advise you to check its terms and conditions, including its privacy and security policies.
</p>
<p></p>
This privacy policy does not apply to any information provided for the purpose of a Consultation with a New Zealand Registered Dietitian.  In this instance our Dietitians are governed by and abide by the following:
<ul>
    <li>Health Act 1956</li>
    <li>Health (Retention of Health Information) Regulations 1996</li>
    <li>Health Information Privacy Code 1994</li>
    <li>Code of Health and Disability Services Consumers’ Right</li>
</ul>
<p>
<h3>Changes to our Policy</h3>
We may, at our discretion, update or revise this Policy from time to time. Any changes will take effect immediately once they are posted here, so we encourage you to periodically review this page for the latest information.
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>info@allergywell.co.nz</h1>
        </div>
        <div class="col">
            <h1>© 2018 by Allergy Well Ltd</h1>
        </div>
        <div class="col social">
            <ul>
                <li>
                    <a id="facebook" href="https://www.facebook.com/allergywellNZ/">
                        <img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lisa-hassan-15b611a0/">
                        <img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp">
                    </a>
                    <a id="twitter" href="https://twitter.com/AllergyWell">
                        <img src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                    </a>
                    <a id="instagram" href="https://www.instagram.com/allergywellnz/">
                        <img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

    {% endblock %}