{% extends 'base.html' %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- Custom Theme files -->
<link href="/static/css/signup_form.css" rel="stylesheet" type="text/css" media="all"/>
<!--web-fonts-->
<!--<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>-->
<!-- main -->

<div class="main" style="width:80%;">

    <div class="agile">
        <div class="signin-form profile">
            <h1 style="color:black; font-family: sans-serif;">REGISTER</h1><br>
            <p style="font-family:serif; font-size:20px;">Register below to add favourite products for easy access at a
                later date</p>
            <div class="login-form">
                <form action="/register/" id="register_form" method="post">
                    {% csrf_token %}
                    <h2 id="signup_error" style="color:red; font-size:26px; font-family:sens-serif;"> {{ error }}</h2>
                    <input type="text" name="username" id="username" placeholder="User Name" required=""
                           maxlength="20    ">
                    <input type="email" name="email" id="email" placeholder="Email" required="">
                    <input type="password" id="password" name="password" placeholder="Password" minlength="8"
                           required="">
                    <p id="pwd_error" style="color:Red; font-family:serif;"></p>
                    <input type="password" name="password_2" id="password_2" placeholder="Confirm Password" required="">
                    <p id="pwd_error_2" style="color:Red; font-family:serif;"></p>
                    <p style="font-family:serif;"><input type="checkbox" name="later_use" id="later_use">
                        I would like to keep up to date with the latest product information and advice on food allergies and
                        intolerances.
                    </p>
                    <p style="font-family:serif;"><input type="checkbox" name="terms" id="terms">
                        I have read and accept the Terms and Conditions.
                    </p>
                    <input style="padding: 0.7em 0px;width: 93%;text-align: center;font-size: 1.2em;margin-top: 1em;border: none;color: #fff;cursor: pointer;background: #16293a;border-radius: 4px;margin-right: 85px;" type="button" id="register" value="REGISTER">
                </form>
            </div>

        </div>
    </div>
    <div class="clear"></div>
    <!--//signin-form-->
</div>
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>info@allergywell.co.nz</h1>
        </div>
        <div class="col">
            <h1>© 2018 by Allergy Well Ltd</h1>
        </div>
        <div class="col social">
            <ul>
                <li>
                    <a id="facebook" href="https://www.facebook.com/allergywellNZ/">
                        <img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lisa-hassan-15b611a0/">
                        <img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp">
                    </a>
                    <a id="twitter" href="https://twitter.com/AllergyWell">
                        <img src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                    </a>
                    <a id="instagram" href="https://www.instagram.com/allergywellnz/">
                        <img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
      $( "#password" ).keyup(function(e) {
            var len = $("#password").val();
            if(len.length > 0 && len.length < 8){
               $("#pwd_error").css('color', 'red');
               $("#pwd_error").text("Password length is short must be greater than or equal to 8 digits");
            }
            <!--if(len.length >= 8)-->
            else if(len.length >= 8){
                $("#pwd_error").css('color', 'green');
                $("#pwd_error").text("Password is Verified");
            }
            if(len.length == 0){
                 $("#pwd_error").text(" ");
            }
        });

      $( "#password_2" ).keyup(function(e) {
            var pwd = $("#password").val();
            var pwd_2 = $("#password_2").val();
            if(pwd_2 == pwd ){
               $("#pwd_error_2").css('color', 'green');
               $("#pwd_error_2").text("Passwords Verified");
            }
            else if(pwd_2 != pwd ){
                $("#pwd_error_2").css('color', 'red');
                $("#pwd_error_2").text("Password is not Same....");
            }
        });

</script>
<script>
    $("#register").click(function(){
        var terms = $("#terms").is(':checked');
        var username = $("#username").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var password_2 = $("#password_2").val();
        if (username == '' || email == '' || password == '' || password_2 == ''){
            alert('Form is not filled completely field missing');
        }
        else{
            if(terms == true){
                $("#register_form").submit();
            }
            else{
                alert('Please Agree Terms and Condition to Register');
            }
        }
    });
</script>
{% endblock %}