{% extends "base.html" %}
{% load static from staticfiles %}
{% block content%}
<h2 style="text-align:center">
    Terms And Conditions
</h2>
<p>
    By using the Allergy Well and Allergy Well Food Finder websites you are agreeing to comply with and be bound by
    these Terms and Conditions, which together with our Privacy Policy govern Allergy Well’s relationship with you. If
    you do not agree to these Terms and Conditions, you are not authorised to access and use this website and you must
    immediately stop accessing it.
    We may make changes to these Terms and Conditions at any time at our discretion. Any changes to the Terms and
    Conditions will be updated and available on our website at www.allergywell.co.nz. You are responsible for keeping
    informed of any changes to these terms by reviewing the above site regularly. Allergy Well may change, suspend,
    discontinue, or restrict access to, the website without notice or liability.
</p>
<p>
<h3>1. Definitions</h3>
    1.1 "Allergy Well” means Allergy Well Limited, its directors, employees and any agents.<br>
    1.2 "Allergy Well Website” means all Allergy Well websites including Allergy Well (www.allergywell.co.nz) and
    Allergy Well Food Finder (www.allergywell.co.nz/foodfinder) and any other websites which may be released by Allergy
    Well Limited from time to time.<br>
    1.3 "User” means the person using the Allergy Well Website.
</p>
<p>
<h3>2. Allergy Well Information</h3>
    2.1 By using the Allergy Well Website you will gain access to information about a number of grocery items commonly
    stocked in New Zealand stores. Such information includes but is not limited to allergen warnings.<br>
    2.2 The information referred to in clause 2.1 above is made accessible to you via the Allergy Well Website for the
    purpose of making your own informed decision about product purchases by enabling you to search and compare products
    based on your own personal requirements and search criteria.<br>
    2.3 The information provided by Allergy Well should be used as a guide only and must not be relied upon as a
    substitute for personalised professional health/medical advice. Your use of any information on the Allergy Well
    Website is entirely at your own risk, for which Allergy Well shall not be liable. Allergy Well recommend that you
    follow any health and dietary advice provided to you by a health care professional.<br>
    2.4 Allergy Well has sourced and collated information from product packaging, food company websites and by directly
    contacting food manufacturers. Inaccuracies, outdated information and typographical errors may occur from time to
    time. Allergy Well expressly excludes liability for such inaccuracies, outdated information or errors to the fullest
    extent permitted by law. Allergy Well do not warrant or provide any guarantee as to the accuracy of
    information or the suitability of such information provided on the Allergy Well Website and take no responsibility
    for it. All Users should personally verify information provided by Allergy Well against the physical product
    packaging or seek product information provided by the manufacturer.
</p>
<p>
<h3>3. Liability, Indemnity and Disclaimers</h3>
    3.1 Allergy Well make no express or implied representation or warranty of any kind relating to information provided
    on the Allergy Well Website or the User’s use of such information. Use of the Allergy Well Website is at your sole
    discretion and risk.<br>
    3.2 Except for liability that cannot be contracted out of by law, Allergy Well will not be liable for any loss,
    damage, costs or expenses of any kind whatsoever, arising from the use of information from the Allergy Well Website
    or provided by Allergy Well to the User, including but not limited to any direct loss, any economic, special,
    indirect or consequential loss, loss of profits, whether suffered or incurred by the User or another person and
    whether in contract or tort (including negligence) or otherwise and irrespective of whether such loss or damage
    arises directly or indirectly from information and/or services provided by Allergy Well to the User. To the extent
    that Allergy Well’s liability cannot be excluded but can be limited, Allergy Well’s total liability is limited to
    NZD$250.<br>
    3.3 As a User, you fully indemnify and hold Allergy Well harmless from and against all claims, liabilities, damages,
    expenses and losses whatsoever (whether direct or indirect), including, but not limited to legal, fees that arise
    directly or indirectly out of your use of or access to the information and services provided by Allergy Well.
</p>
<p>
<h3>4. Information Collection and Privacy Policy</h3>
    4.1 In the course of using Allergy Well or the Allergy Well Websites, you may provide us with personally
    identifiable information (“Personal Information”). This is information about you that can be used to contact or
    identify you, including, but not limited to, your e-mail address. We use your Personal Information to provide a
    better user experience and to analyse and understand how the Allergy Well Website is being used. We will not share
    or disclose your Personal Information with any third party without your consent.<br>
    4.2 Non-identifying identifiable information (“Non-Identifying Information’) may be disclosed to third parties for
    the purpose of industry analysis, demographic profiling and other purposes. Certain Non-Identifying Information may
    be considered Personal Information when combined with other information that enables you to be identified. The
    information is considered non-identifying when taken alone, at an aggregate level, or combined only with other
    non-identifying information. Third parties for which disclosure of Non-Identifying Information may be made include,
    but are not limited to, suppliers, advertisers, research companies and other organisations. Any information shared
    in this context will not contain your Personal Information.<br>
    4.3 We may employ third parties to perform services related for Allergy Well. This may include, but is not limited
    to, other health professionals, maintenance services, database management, analysis and improvements of Allergy
    Well’s features.<br>
    4.4 If you sign up to receive more information from Allergy Well, you agree to receive newsletters, marketing and
    promotional material. If you decide at any time that you no longer wish to receive such communications from us,
    simply follow the unsubscribe instructions contained in the communication.<br>
    4.5 The use of Personal Information is covered more fully in our Privacy Policy.
</p>
<p>
<h3>
    5. Intellectual Property
</h3>

5.1 Allergy Well owns, controls and reserves the rights (including copyright) in and to all information, text, material, advertisements, software code, databases and data comprising the Allergy Well Website and any additional information provided by Allergy Well (“the Allergy Well Property”).
5.2 You must not modify, copy, or reproduce, republish, frame, upload to a third party, post, transmit, broadcast, show or play in public, distribute or create a derivative work from the Allergy Well Property in any way except expressly authorised in writing by Allergy Well. This prohibition does not extend to any content which is expressed to be freely available for re-use or replication, subject to any conditions specified by Allergy Well.
5.3 You indemnify Allergy Well against claims, liabilities, damages, expenses and losses whatsoever suffered or incurred in connection with any claim, action, demand or proceeding alleging that the publication, use or display of any content in connection with your use of Allergy Well.
5.4 You must not exploit the Allergy Well Property for commercial purposes. You are expressly prohibited from selling, distributing, decompiling, reverse engineering or otherwise dealing with material obtained from Allergy Well and/or the Allergy Well Website, including any software, program codes, files, images and data.
5.5 The inclusion of information about a product in Allergy Well is not and must not be interpreted as an association with, or endorsement of that product by Allergy Well. Allergy Well have no responsibility for any third party products which may be mentioned on the Allergy Well Website.
</p>
<p>
<h3>6. Termination</h3>
    6.1 If you breach any of these Terms, Allergy Well will have the right to suspend, disable, terminate your access to
    Allergy Well at its sole discretion and without prior notice to you. Allergy Well will not be liable to you or any
    third party for termination of your access or use of Allergy Well. On suspension or termination, you must
    immediately cease using the Allergy Well Website and must not attempt to gain further access.
</p>
<p>
<h3>7. Disputes and Governing Law</h3>
    7.1 Your use of the Allergy Well Website and any dispute arising out of such use of the Allergy Well Website are
    subject to and are governed by the laws of New Zealand.
</p>
<p>
<h3>8. General</h3>
    8.1 If any part or provision of these Terms is or becomes illegal, unenforceable, or invalid, that part or provision
    is deemed to be modified to the extent required to remedy the illegality, unenforceability or invalidity. If a
    modification is not possible, the part or provision must be treated for all purposes as severed from these Terms.
    The remainder of these Terms will be binding on you.<br>
    8.2 These Terms set out everything agreed by the parties relating to your use of the Allergy Well Website and
    supersede and cancel anything discussed, exchanged or agreed prior to you agreeing to these Terms. The parties have
    not relied on any representation, warranty or agreement relating to the Allergy Well Website that is not expressly
    set out in the Terms, and no such representation, warranty or agreement has any effect from the date you agreed to
    these Terms.
</p>
<p>
   <h3>9 Contact</h3>
    9.1 If you have any questions about these Terms and Conditions or our Privacy Policy, please contact us at:
    info@allergywell.co.nz

</p>
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>info@allergywell.co.nz</h1>
        </div>
        <div class="col">
            <h1>© 2018 by Allergy Well Ltd</h1>
        </div>
        <div class="col social">
            <ul>
                <li>
                    <a id="facebook" href="https://www.facebook.com/allergywellNZ/">
                        <img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp">
                    </a>
                    <a id="linkedin" href="https://www.linkedin.com/in/lisa-hassan-15b611a0/">
                        <img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp">
                    </a>
                    <a id="twitter" href="https://twitter.com/AllergyWell">
                        <img src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.webp">
                    </a>
                    <a id="instagram" href="https://www.instagram.com/allergywellnz/">
                        <img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp">
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
